<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h2>Welcome to Profile Page</h2>
        <form action="/logout" method="post">
            <button type="submit" class="btn btn-danger">Logout</button>
        </form>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, veritatis quidem, soluta rerum error ipsum totam
            nam nostrum minima qui odio neque dolorem! Pariatur, commodi dolorum sunt soluta harum a?
            Aut mollitia ab pariatur voluptatum sapiente rerum optio voluptatem, expedita ipsum labore aliquid libero
            minima consequatur adipisci totam recusandae dicta repellat omnis itaque ut placeat ratione assumenda. Enim,
            consequatur illo.
            Id eligendi aspernatur recusandae error non. Inventore sapiente quis id error quos eos consectetur quaerat,
            eum, numquam magnam vero nulla! Repudiandae laboriosam odit optio eveniet. Laudantium aliquid culpa
            voluptate corrupti?
            Cum dicta inventore atque doloribus fuga nesciunt aliquid quisquam repellendus id a? Repellat, placeat culpa
            sequi quae repudiandae mollitia aperiam, ut eius libero, reprehenderit necessitatibus optio asperiores odit
            ad eaque?
            Molestias omnis aliquid non reprehenderit error dolores! Laudantium temporibus, ipsum maxime, mollitia
            commodi, sunt recusandae excepturi alias at illo nemo? Possimus temporibus distinctio ea ullam repellendus
            vitae facere quia dolorem.
            Numquam porro quisquam dolorem temporibus repudiandae? Veniam sapiente hic voluptatibus fugiat doloremque
            omnis quo eius deserunt, molestiae amet optio magni. Corporis earum iusto nostrum ipsum dolores voluptatum
            rerum doloremque ex!
            Reiciendis ipsum a illum ipsa deserunt, corrupti debitis vel impedit! Voluptate hic at dolores, animi dolore
            magnam sapiente dignissimos amet modi veniam accusantium magni! Minus ex sunt laudantium eligendi mollitia.
            Consequatur ex laudantium, obcaecati voluptatum distinctio nam nostrum. Maxime, commodi aut beatae magni
            dolorum perspiciatis necessitatibus consectetur iusto aliquam distinctio officia voluptatum corrupti sint
            iure a tempora placeat minima in.
            Inventore magnam dolor, itaque velit nobis doloribus officia voluptatibus, eaque neque et fugiat, nulla
            magni impedit? Maxime, eius quos culpa ad veritatis quisquam eligendi quod cumque necessitatibus, modi
            praesentium quidem.
            Voluptatem obcaecati vitae atque debitis incidunt eveniet velit in, porro, corrupti fuga quisquam natus
            error minus maiores ab rerum amet veritatis ad dignissimos assumenda! Laborum eum veritatis impedit
            obcaecati minima.</p>
    </div>
</body>

</html>